@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./polka.png');
  font-family: 'Nanum Pen Script', sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff8f2;
  width: 90vw;
  max-width: 600px;
}

h1 {
  font-size: 50px;
  color: teal;
  margin-bottom: 0;
}

#display {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 30vw;
  margin: 20px;
  min-width: 270px;
  min-height: 270px;
}

.drum-pad {
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  min-width: 90px;
  min-height: 90px;
  background-color: #f0feff;
  font-family: 'Nanum Pen Script', sans-serif;
  font-size: 30px;
  border-radius: 10px;
}

.drum-pad span {
  margin-top: 1vw;
  pointer-events: none
}

.drum-pad:active {
  background-color: aquamarine;
}

.drum-pad-image {
  height: 5vw;
  min-width: 45px;
  min-height: 45px;
  object-fit: contain;
  max-width: 5vw;
  pointer-events: none;
}

#display-text {
  margin: 20px;
  font-size: 40px;
  
}

@media screen and (max-width: 450px) {
  h1 {
      font-size: 30px;
  }
}